<h1 class="text-center" style="color: chocolate;">About section</h1>
    <br>
    <div style="margin-left: 25%;margin-right: 25%;">
        <mat-card class="alert alert-primary">
            <h3>Name: {{name}}</h3>
            <hr>
            <h3>Email: {{email}}</h3>
            <hr>
            <h3>TechnicalField: {{technical}}</h3>
            <hr>
            <h3>NonTechnicalField: {{nontechnical}}</h3>
            <hr>
            <h3>Age: {{age}}</h3>
            <hr>
            <h3>City: {{city}}</h3>
            <hr>
            <h3>Institute: {{institute}}</h3>
            <hr>
            <h3>BirthDate: {{birth}}</h3>
            <hr>

            
            

            
            
            

        </mat-card>
    </div>


   