<h1 class="text-center" style="color: blue;">#{{tag}}</h1>

<div class="container" style="margin-left: 25%; margin-right: 25%;">
  <div class="row" *ngFor="let i of post_user">

    <mat-card class="example-card animate__animated animate__backInUp"
      style="width: 60%; margin-top: 3%; margin-left: 5%;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <div *ngIf="i.user.img!=null">


            <img src="{{url+i.user.img}}" style="width: 60px;height:60px; border-radius: 50%;">
          </div>
          <div *ngIf="i.user.img==null">


            <img [src]="imageurls" style="width: 60px;height:60px; border-radius: 50%;">
          </div>
        </div>

        <mat-card-title>
          <a class="btn btn-link" [routerLink]="['/user/',i.user.id]">
            {{i.user.name}}</a>
        </mat-card-title>
        <mat-card-subtitle style="padding-left: 15%; padding-top: 3%;">{{i.content.Post_Title}}</mat-card-subtitle>
      </mat-card-header>
      <div *ngIf="i.content.Image!=null">


        <img mat-card-image src="{{url+i.content.Image}}" class="pt-5" style="width: 60%; height: 50%; margin-left: 20%;margin-right: 20%;" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{i.content.Text}}
          </p>
        </mat-card-content>

      </div>
      <div *ngIf="i.content.Image==null">
        <mat-card-content class="pt-5">
          <p>
            {{i.content.Text}}
          </p>
        </mat-card-content>
      </div>








      <mat-card-actions>








        <div class="container">

          <div class="row">

            <div class="col-lg-3">
              <div *ngIf="hi(i.id)">

              <button mat-button style="margin-bottom: 0%;"(click)="onlike_a(i.id)">

                <i class="fa fa-heart fa-2x" style="color: red" aria-hidden="true"></i>
              </button>


              <p style="color: blue; margin-bottom: 6%; margin-left: 30%;">
                {{i.LikeCount}}
              </p>
              </div>
<div *ngIf="hi(i.id)==0">

                <button mat-button style="margin-bottom: 0%;"(click)="onlike_a(i.id)">
                  <i class="fa fa-heart-o fa-2x"  aria-hidden="true"></i>

                </button>


                <p style="color: blue; margin-bottom: 6%; margin-left: 30%;">
                  {{i.LikeCount}}
                </p>

                

              </div>




            </div>

            <div class="col-lg-3">
              <div *ngIf="by(i.id)">

              <button mat-button style="margin-bottom: 0%;" (click)="ondislike(i.id)">

                <i class="fa fa-thumbs-down fa-2x" style="color: black;" aria-hidden="true"></i>
              </button>


              <p style="color: blue; margin-bottom: 6%; margin-left: 22%;">
                {{i.UnLikeCount}}
              </p>
</div>



<div *ngIf="by(i.id)==0">

<button mat-button style="margin-bottom: 0%;" (click)="ondislike(i.id)">

<i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
</button>


<p style="color: blue; margin-bottom: 6%; margin-left: 22%;">
{{i.UnLikeCount}}
</p>
</div>




            </div>
            <div class="col-lg-3">
              <button mat-button style="margin-bottom: 0%;">

                <i class="fa fa-share-alt fa-2x" aria-hidden="true"></i>
              </button>

            </div>
            <div class="col-lg-3">
              
              <button mat-button style="margin-bottom: 0%;" (click)="comments(i.id)">

                <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
              </button>
            
            





            </div>
            

          </div>

        </div>

        <div class="comment" *ngIf="o==i.id">
          <hr>
          <h1 class="text-center">Comment</h1>
          <div *ngFor="let k of comment">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <div *ngIf="k.user.img!=null">


                    <img src="{{url+k.user.img}}" style="width: 60px;height:60px; border-radius: 50%;">
                  </div>
                  <div *ngIf="k.user.img==null">


                    <img [src]="imageurls" style="width: 60px;height:60px; border-radius: 50%;">
                  </div>
                </div>

                <mat-card-title>
                  <a class="btn btn-link" [routerLink]="['/user/',k.user.id]">
                    {{k.user.name}}</a>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="pt-5">
                <p>
                  {{k.Post_comment}}
                </p>
              </mat-card-content>

            </mat-card>


          </div>
          <form class="pt-3" [formGroup]="forms" (ngSubmit)="add_comment(i.id)">
            <img [src]="imageurls" style="width: 40px;height:40px; border-radius: 50%;">
            

            <input type="text" label="Add Comment" style=" border: black 50% solid; margin-left: 2%; padding: 2%;"
            
           
        formControlName="Post_comment"
        placeholder="Add Comment"
        
            
            >
            <button mat-raised-button color="primary" style="color: peru;" style="margin-left: 5; margin-top: 2%;">Add Comment</button>
          


          </form>
          <hr>
        </div>



      </mat-card-actions>




    </mat-card>

  </div>

</div>


















