<h1 class="text-center pt-2" style="color: blue;">About E-meet</h1>
<hr>
<div class="container" >
    <h3 >
        <span>
            Lead By Priyansh Jhalani and Ankesh Agrawal, 3rd year Information Technology Department, Poornima Collage Of Enginnering,Jaipur ....                       </span>

    </h3>

    <div class="row pt-3">
        <div class="col-lg-6">
            Do you prefer visual graphics to walls of text? Well, check out this design for Huge Inc. that takes a unique step by condensing their information into visualized diagrams. By using sharp,
        </div>
        <div class="col-lg-6">
            Do you prefer visual graphics to walls of text? Well, check out this design for Huge Inc. that takes a unique step by condensing their information into visualized diagrams. By using sharp,
        </div>
    </div>

<h3 class="pt-3" >Our Team</h3>

<div class="row pt-4">
    <div class="col-lg-3">
<mat-card >

        <img mat-card-image [src]="imageurl" alt="Photo of a Shiba Inu">
        <p class="pt-2" style="color: rgb(94% 50% 50%);">Priyansh Jhalani</p>
        <p style="color: white;">Contribution: Backend and Frontend</p>
        <p style="color: white;">Backend Technology: Django rest framework</p>
        <p style="color: white;">Frontend Technology: Angular framework</p>

    </mat-card>
        

    </div>
    <div class="col-lg-3">
    <mat-card >
        <img mat-card-image [src]="imageurl1"  alt="Photo of a Shiba Inu">
        <p class="pt-2" style="color: rgb(94% 50% 50%);">Ankesh Agrawal</p>
        <p style="color: white;">Contribution: Backend and Machine Learning</p>
        <p style="color: white;">Backend Technology: Django rest framework</p>
        <p style="color: white;">Machine learning : Recommendation System</p>

    </mat-card>

        
    </div>
    <div class="col-lg-3">
    <mat-card >
        <img mat-card-image [src]="imageurl"  alt="Photo of a Shiba Inu">
        <p class="pt-2" style="color: rgb(94% 50% 50%);">Rahul Gurjar</p>

        <p style="color: white;">Contribution: Frontend</p>
        <p style="color: white;">Frontend Technology: Angular framework</p>
    </mat-card>

        
    </div>
    <div class="col-lg-3">
    <mat-card >
        <img mat-card-image [src]="imageurl"  alt="Photo of a Shiba Inu">

        <p class="pt-2" style="color: rgb(94% 50% 50%);">Devender Singh Sekhawat</p>
        <p style="color: white;">Contribution: Machine Learning</p>
        <p style="color: white;">Machine learning : Recommendation System</p>
    </mat-card>
        
    </div>
</div>

</div>